<form>
  <div class="form-group form-inline">
    Search your favorite restaurant here (or type what you want to eat): <input class="form-control ml-2" type="text" name="searchTerm" (ngModel)="service.searchTerm"/>
    <span class="ml-3" *ngIf="service.loading$ | async">Loading....</span>
  </div>

  <table class="table table-striped">
    <thead>
      <tr>
        <th scope="col">Logo</th>
        <th scope="col" appSortable="name" (sort)="onSort($event)">Name</th>
        <th scope="col" appSortable="type" (sort)="onSort($event)">Type</th>
        <th scope="col" appSortable="price" (sort)="onSort($event)">Price Range</th>
      </tr>
    </thead>

    <tbody>
      <tr *ngFor="let restaurant of restaurants$ | async">
        <th scope="row"> {{ restaurant.logo }} </th>
        <td><ngb-highlight [result]="restaurant.name" [term]="service.searchTerm"></ngb-highlight></td>
        <td><ngb-highlight [result]="restaurant.type" [term]="service.searchTerm"></ngb-highlight></td>
        <td><ngb-highlight [result]="restaurant.price" [term]="service.searchTerm"></ngb-highlight></td>
      </tr>
    </tbody>
  </table>

  <div class="d-flex justify-content-between p-2">
    <ngb-pagination [collectionSize]="(total$ | async)!" [(page)]="service.page" [pageSize]="service.pageSize"></ngb-pagination>

    <select class="custom-select" style="width: auto" name="pageSize" [(ngModel)]="service.pageSize">
      <option [ngValue]="5">5</option>
      <option [ngValue]="10">10</option>
      <option [ngValue]="15">15</option>
    </select>
  </div>
</form>